/*Палитра*/
$ground: rgba(#a3a3a3,0.7);
$menu-bg: #000000;
$heading: #0000ff;
$small: #3a3a3a;
$bg-item-menu: #00ff00;
/*Палитра*/

/*Дефолт*/
body{
    background: $ground;
}
/*Дефолт*/

/*Header*/
.menu-project{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    li{
        padding: 10px;
    }
}
.banner{
    position: relative;
    img{
        position: absolute;
        width: 100%;
    }
}
/*Header*/
