$dark: #036e63;
$ligth: #a5f1e9;
$average: #05a393;
$white: #ffffff;


body{
}

main{
    max-width: 1380px;
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: bold !important;
    color: $dark;
}

.navbar-toggler{
    border: 3px solid $dark;
}

.btn{
    :hover{
        color: $dark !important;
        background: $ligth !important;
    }
    color: $white !important;
    background: $dark !important;
    border: 0 !important;
}

.border-section{
    padding: 30px 0;
    border-top: 5px solid $dark;
    border-bottom: 5px solid $dark; 
}

.border-section-light{
    border-bottom: 5px solid #51bdb2;
}

.border-top-light{
    border-top: 5px solid $ligth;
}
.border-right-light{
    border-right: 5px solid $ligth;
}

.menu-bar{
    background: $average;
    .container{
        .row{
            height: 80px;
        }
    }
}


.menu{
    font-size: 1rem;
    li{
a{
    color: $white !important;
}
}
.social{
    align-self: inherit;
    margin: 0 15px 0 0 !important;
    a{
    color: $dark !important;
    }
}
}

.name-company{
    width: 370px;
    height: 370px;
    background: $ligth;
    border-radius: 50%;
    border: 5px solid $dark;
    p{
        font-size: 3rem;
        color: $dark;
        text-shadow: $white 0 0 5px,$white 0 0 5px,$white 0 0 5px;
    }
}

.description-company{
    h1{
        font-size: 1.75rem;
        font-family: roboto_light;
        font-style: italic;
    }
}

.logo-project{
    width: 210px;
    height: 210px;
    background: $ligth;
    border-radius: 50%;
    border: 5px solid $dark;
    p{
        font-size: 2.1rem;
        color: $dark;
        text-shadow: $white 0 0 5px,$white 0 0 5px,$white 0 0 5px;  
    }
}

.name-counter{
font-size: 1.25rem;
margin: 0;
color: $dark;
}
.counter{
    color: $dark;
    font-style: italic;
}

.nav-items-news{
    margin: 24px 0 0 0; 
    background: $average;
    font-size: 1.5rem;
    color: $white !important;
    .nav-link{
        border-radius: 0 !important;
    }
}

.name-project{
    color: $white;
}

.bg-content-news{
    background: $average;
}

.nav-important-link{
    list-style-type: none;
    padding: 0;
    li{
        a{
            color: $white;
            font-size: 1.25rem;
        }
    }
}

footer{
    background-color: $dark;
    color: $ligth;
    h3{
        font-size: 1.4rem;
       text-transform: uppercase;
       text-align: center; 
       color: $ligth;
    }
    ul{
        list-style-type: none;
        padding: 0;
        text-align: center;
        li{
            a{
                color: $ligth;
            }
        }
    }
}

.card-header{
    background: 0 !important;
    button{
        width: 100%;
        font-size: 1.3rem;
    }
}

.card-body{
    ul{
        list-style-type: none;
        padding: 0;
        font-size: 1.25rem;
        li{
            a{
                color: #036e63;
                font-style: italic;
            }
        }
    }
}

.btn-mail{
    background: $average !important;
    border: 3px solid $ligth !important;
}

